{{define "base"}}
<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel="stylesheet" type="text/css" href="static/css.css">
  <title>Shortner - {{.Title}}</title>
</head>
  
<body>
  <div class=main>
    <div class="table" id="menu">
      <div class="client_row">
        <div class="cell">
          <a href="/">Search</a>
        </div>      
        <div class="cell">
          <a href="/save">New</a>
        </div>
      </div>
		</div>
    <div class="table" id="menu">
      <div class="client_row">
					{{template "form" .}}
      </div>
    </div>
    {{block "message" .}}{{end}}
		{{block "result" .}}{{end}}
  </div>
</body>
</html>
{{end}}
