{{define "form"}}
          <form action="/" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
            Search alias: <input type=text id="n1" value='' size=3> &nbsp <input type=button id="search" value="Search">
          </form>
{{end}}
